.search-bar {
  position: relative;
  margin: auto 20px auto auto;
  display: flex;

  .input {
    border: 0;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
    &:focus {
      outline: 0;
    }
  }
}

@media only screen and (max-width: 600px)  {
  .input {
    width: 80px;
  }
}
