.recipe-view-page {
  .recipe-content {
    white-space: pre-line;
    margin-bottom: 50px;
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
  }
  .edit-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
  }
}
