.page-title {
  display: flex;
  justify-content: space-between;
  background-color: #265FE5;
  color: white;
  margin-bottom: 50px;
  min-height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  .left {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 50px;
  }
  .center {
    margin: auto;
  }
}
